<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <title>Edit Account</title>
</head>
<body>
     <form action="doEdit" method="post">
       <input type="hidden" name="id" value="{{accounts._id}}">
       <label class="label"><b>Name</b></label>
       <br>
       <input type="text" name="name" value="{{accounts.Name}}">
       <br>
       <label class="label"><b>Email</b></label><br>
       <input type="text" name ="email" value="{{accounts.Email}}">
       <br>
       <label class="label"><b>Phone Number</b></label><br>
       <input type="text" name ="phone" value="{{accounts.Phone}}">
       <br>
       <label class="label"><b>Username</b></label><br>
       <input type="text" name ="username" value="{{accounts.Username}}">
       <br>
       <label class="label"><b>Password</b></label><br>
       <input type="text" name ="password" value="{{accounts.Password}}">
       <br>
       <label class="label"><b>Role</b></label><br>
       <input type="radio" name ="role" value="admin">Administrator
       <input type="radio" name ="role" value="staff">Employee
       <br>
        <input type="submit" value="Update">
    </form>
</body>
</html>